@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
		font-size: 1.5em;
	}
	50% {
		font-size: 1.7em;
	}
	100% {
		font-size: 1.5em;
	}
}

html, body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

body > * {
	height: 100%;
}

body > * > * > * {
	padding: 0 50px 0 50px;
}

.view {
	display: flex;
/*	margin: 24px 0 24px 0;
*/	height: 80%;
/*	background-color: black;
*/	background-image: linear-gradient(to right, rgba(245,245,245 ,1), rgba(224,224,224 ,1));
	animation-name: appear;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}

.view > div {
	margin: 10px;
	max-height: 100%;
	overflow-y: scroll;
}

.subView {
	display: flex;
}

.subView > div {
	margin: 10px;
}

h1 {
	overflow-wrap: break-word;
  	word-wrap: break-word;
  	margin: 5px 0 5px 0;
}

a {
	color: black;
	text-decoration: none;
}

span {
	word-break: break-word;
}

.errorDiv {
	flex: 1;
	display: flex;
	justify-content: center;
}

.smallIcon {
	height: 12px;
	margin-right: 5px;
	width: auto;
}

.mediumIcon {
	height: 33px;
	width: auto;
}

/* SearchBar */
.searchContainer {
	height: 75px;
	display: flex;
    align-items: center;
}

.searchContainer > label {
	font-size: 16px;
	height: 24px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchInput {
    border: 1px solid grey;
    padding: 10px;
    width: 50%;
    font-size: 16px;
}

/* Profile */
.profileContainer {
	display: flex;
	flex-direction: column;
	border: 1px solid blue;
/*	justify-content: space-between;
*/}

.profileContainer > img {
	width: 200px;
	height: auto;
	align-self: center;
}

/* Repos */
.reposContainer {
	flex: 1;
	overflow-y: scroll;
	max-height: 100%;
	padding: 0 10px 0 10px;
	background-color: white;
}

.repo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid grey;
	margin-bottom: 10px;
	padding: 10px;
}

.repo > div {
	flex: 1;
}

/* Comparison Views */
.compareContainer {
	flex: 1;
}


/* Chart */
#chart {
	height: 240px;
	width:240px;
	position: relative;
}

.legendContainer {
	max-height: 200px;
	overflow-y: scroll;
}

.legend {
	font-size: 12px;
	overflow-y: scroll;
	height: 200px;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}

rect {
	stroke-width: 2px;
}

.chartContainer {
	background-color: white;
}

.followerContainer {
	background-color: white;

}

.compareDiv{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.compareDiv > div {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.number {
	margin-left: 5px;
	font-size: 1.5em;
	width: 50px;
	max-width: 250px;
}

.followerLabel {
	font-size: 0.9em;
}

.greaterSpan {
/*	color: rgba(213,0,0 ,1);
	text-decoration: bold;
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;*/
}
